.del {
    text-decoration: none;
    font-size: 1.5rem;
}

.error {
    color: red;
    font-size: 1rem;
    margin-top: 1rem;
}

.breadcrumbs {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background: #f8f9fa;
    border-radius: 0.5rem;
}

.breadcrumbs a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    font-weight: bold;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
    padding: 0.3rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    background: #f9f9f9;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
}

form .checkbox-container label {
    font-weight: normal;
}

form input[type="text"],
form input[type="submit"] {
    padding: 0.3rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    font-size: 1rem;
}

form input[type="submit"] {
    background: #007bff;
    color: white;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

form input[type="submit"]:hover {
    background: #0056b3;
}